.coreshop-list.menu-avatar > .coreshop-list-item .content { position: absolute; left: 106rpx; width: calc(100% - 96rpx - 60rpx - 120rpx - 20rpx); line-height: 1.6em; }
.coreshop-list.menu-avatar > .coreshop-list-item .action { width: auto; text-align: center; margin-right: 30rpx; }
