<script type="text/html" template lay-done="layui.data.sendParams(d);">
    <div class="layui-form coreshop-form layui-form-pane" lay-filter="LAY-app-CoreCmsServiceDescription-editForm" id="LAY-app-CoreCmsServiceDescription-editForm">
        <input type="hidden" name="id" value="{{d.params.data.model.id || '' }}" />

        <div class="layui-form-item">
            <label for="title" class="layui-form-label  layui-form-required">名称</label>
            <div class="layui-input-block">
                <input name="title" lay-verType="tips" lay-verify="required|verifytitle" class="layui-input" placeholder="请输入名称" lay-reqText="请输入名称" value="{{d.params.data.model.title || '' }}" />
            </div>
        </div>

        <div class="layui-form-item">
            <label for="type" class="layui-form-label  layui-form-required">类型</label>
            <div class="layui-input-block">
                <select name="type" lay-verType="tips" lay-verify="required|number" placeholder="请输入类型" lay-reqText="请输入类型并为数字">
                    <option value="">请选择类型</option>
                    {{# layui.each(d.params.data.serviceNoteType, function(index, item){ }}
                    <option value="{{ item.value }}" {{ d.params.data.model.type==item.value ? 'selected="selected"' : '' }}>{{ item.description }}</option>
                    {{# }); }}
                </select>
            </div>
        </div>


        <div class="layui-form-item">
            <label for="isShow" class="layui-form-label  layui-form-required">是否展示</label>
            <div class="layui-input-inline layui-inline-2">
                <input type="checkbox" lay-filter="switch" name="isShow" {{ d.params.data.model.isShow ? 'checked' : '' }} lay-skin="switch" lay-text="开启|关闭">
            </div>
            <label for="sortId" class="layui-form-label  layui-form-required">排序</label>
            <div class="layui-input-inline layui-inline-2">
                <input type="number" min="0" max="999999" name="sortId" lay-verType="tips" lay-verify="required|number" class="layui-input" value="{{d.params.data.model.sortId || '' }}" placeholder="请输入排序" lay-reqText="请输入排序并为数字" />
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label for="description" class="layui-form-label  layui-form-required">描述</label>
            <div class="layui-input-block">
                <textarea name="description" lay-verType="tips" lay-verify="required|verifydescription" class="layui-textarea" lay-reqText="请输入描述" placeholder="请输入描述">{{d.params.data.model.description || '' }}</textarea>
            </div>
        </div>

        <div class="layui-form-item text-right core-hidden">
            <input type="button" class="layui-btn" lay-submit lay-filter="LAY-app-CoreCmsServiceDescription-editForm-submit" id="LAY-app-CoreCmsServiceDescription-editForm-submit" value="确认编辑">
        </div>
    </div>
</script>
<script>
    var debug = layui.setter.debug;
    layui.data.sendParams = function (d) {
        //开启调试情况下获取接口赋值数据
        if (debug) { console.log(d.params.data); }
        layui.use(['admin', 'form', 'laydate', 'upload', 'coreHelper', 'cropperImg'],
            function () {
                var $ = layui.$
                    , form = layui.form
                    , admin = layui.admin
                    , laydate = layui.laydate
                    , upload = layui.upload
                    , cropperImg = layui.cropperImg
                    , coreHelper = layui.coreHelper;

                form.verify({
                    verifytitle: [/^.{0,50}$/, '名称最大只允许输入50位字符'],
                    verifydescription: [/^.{0,255}$/, '描述最大只允许输入255位字符'],
                });
                //重载form
                form.render(null, 'LAY-app-CoreCmsServiceDescription-editForm');
            })
    };
</script>
