<title>商品参数表</title>
<!--当前位置开始-->
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <script type="text/html" template lay-done="layui.data.updateMainBreadcrumb();">
        </script>
    </div>
</div>
<!--当前位置结束-->
<style>
    /* 重写样式 */
</style>
<script type="text/html" template lay-type="Post" lay-url="Api/CoreCmsGoodsParams/GetIndex" lay-done="layui.data.done(d);">
    <div class="layui-form coreshop-search-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="name">参数名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" id="name" placeholder="请输入参数名称" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="value">参数值</label>
                <div class="layui-input-inline">
                    <input type="text" name="value" id="value" placeholder="请输入参数值" class="layui-input">
                </div>
            </div>
            <!--<div class="layui-inline">
                <label class="layui-form-label" for="type">参数类型</label>
                <div class="layui-input-inline">
                    <select name="type" id="type">
                        <option>请选择</option>
                        {{# layui.each(d.data.goodsParamTypes, function(index, item){ }}
                        <option value="{{ item.title }}">{{ item.description }}</option>
                        {{# }); }}
                    </select>
                </div>
            </div>-->
            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="LAY-app-CoreCmsGoodsParams-search"><i class="layui-icon layui-icon-search"></i>筛选</button>
            </div>
        </div>
    </div>
</script>
<div class="table-body">
    <table id="LAY-app-CoreCmsGoodsParams-tableBox" lay-filter="LAY-app-CoreCmsGoodsParams-tableBox"></table>
</div>

<script type="text/html" id="LAY-app-CoreCmsGoodsParams-tableBox-bar">
    <a class="layui-btn layui-btn-xs" lay-event="selectParams">选择</a>
</script>

<script>
    var indexData;
    layui.data.done = function (d) {
        //开启调试情况下获取接口赋值数据
        if (layui.setter.debug) { console.log(d); }
        indexData = d.data;
        layui.use(['index', 'table', 'laydate', 'util','view', 'coreHelper'],
            function () {
                var $ = layui.$
                    , admin = layui.admin
                    , table = layui.table
                    , form = layui.form
                    , laydate = layui.laydate
                    , setter = layui.setter
                    , coreHelper = layui.coreHelper
                    , view = layui.view
                    , util = layui.util;

                //重载form
                form.render();
                var searchwhere;
                //监听搜索
                form.on('submit(LAY-app-CoreCmsGoodsParams-search)',
                    function (data) {
                        var field = data.field;
                        searchwhere = field;
                        //执行重载
                        table.reload('LAY-app-CoreCmsGoodsParams-tableBox', { where: field });
                    });
                //数据绑定
                table.render({
                    elem: '#LAY-app-CoreCmsGoodsParams-tableBox',
                    url: 'Api/CoreCmsGoodsParams/GetPageList',
                    method: 'POST',
                    //defaultToolbar: ['filter', 'print', 'exports'],
                    //height: 'full-189',//无面包屑127,搜索框189,1行62
                    page: true,
                    limit: 30,
                    limits: [10, 15, 20, 25, 30, 50, 100, 200],
                    text: { none: '暂无相关数据' },
                    cols: [
                        [
                            { field: 'id', title: '序列', sort: false, width: 60 },
                            { field: 'name', title: '参数名称', sort: false, width: 105 },
                            { field: 'value', title: '参数值', sort: false },
                            {
                                field: 'type', title: '参数类型', sort: false, width: 105, templet: function (d) {
                                    for (i = 0; i < indexData.goodsParamTypes.length; i++) {
                                        if (d.type === indexData.goodsParamTypes[i].title) {
                                            return indexData.goodsParamTypes[i].description;
                                        }
                                    }
                                },
                            },
                            { width: 70, align: 'center', title: '操作', fixed: 'right', toolbar: '#LAY-app-CoreCmsGoodsParams-tableBox-bar' }
                        ]
                    ]
                });
                //监听排序事件
                table.on('sort(LAY-app-CoreCmsGoodsParams-tableBox)', function (obj) {
                    table.reload('LAY-app-CoreCmsGoodsParams-tableBox', {
                        initSort: obj, //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                        where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                            orderField: obj.field, //排序字段
                            orderDirection: obj.type //排序方式
                        }
                    });
                });

            });
    };
</script>