<script type="text/html" template lay-done="layui.data.sendParams(d);">
    <div class="layui-form coreshop-form layui-form-pane" lay-filter="LAY-app-CoreCmsArea-editForm" id="LAY-app-CoreCmsArea-editForm">
        <input type="hidden" name="id" id="id" value="{{d.params.data.id || '' }}" />

        <!--<div class="layui-form-item">
            <label for="id" class="layui-form-label">地区ID</label>
            <div class="layui-input-inline">
                <input type="number" min="0" max="999999" name="id" id="id" lay-verType="tips" lay-verify="required|number" class="layui-input" value="{{d.params.data.id || '' }}" placeholder="请输入地区ID" lay-reqText="请输入地区ID并为数字" />
            </div>
            <div class="layui-form-mid layui-word-aux">请输入数字</div>
        </div>

        <div class="layui-form-item">
            <label for="parentId" class="layui-form-label">父级ID</label>
            <div class="layui-input-inline">
                <input type="number" min="0" max="999999" name="parentId" id="parentId" lay-verType="tips" lay-verify="required|number" class="layui-input" value="{{d.params.data.parentId || '' }}" placeholder="请输入父级ID" lay-reqText="请输入父级ID并为数字" />
            </div>
            <div class="layui-form-mid layui-word-aux">请输入数字</div>
        </div>

        <div class="layui-form-item">
            <label for="depth" class="layui-form-label">地区深度</label>
            <div class="layui-input-inline">
                <input type="number" min="0" max="999999" name="depth" id="depth" lay-verType="tips" lay-verify="required|number" class="layui-input" value="{{d.params.data.depth || '' }}" placeholder="请输入地区深度" lay-reqText="请输入地区深度并为数字" />
            </div>
            <div class="layui-form-mid layui-word-aux">请输入数字</div>
        </div>-->

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">地区名称</label>
            <div class="layui-input-block">
                <input name="name" id="name" lay-verType="tips" lay-verify="required|verifyname" class="layui-input" placeholder="请输入地区名称" lay-reqText="请输入地区名称" value="{{d.params.data.name || '' }}" />
            </div>
        </div>

        <div class="layui-form-item">
            <label for="postalCode" class="layui-form-label">邮编</label>
            <div class="layui-input-block">
                <input type="number" min="0" max="999999" name="postalCode" id="postalCode" lay-verType="tips" lay-verify="required|number" class="layui-input" value="{{d.params.data.postalCode || '0' }}" placeholder="请输入地区排序" lay-reqText="请输入地区排序并为数字" />

            </div>
        </div>

        <div class="layui-form-item">
            <label for="sort" class="layui-form-label">地区排序</label>
            <div class="layui-input-block">
                <input type="number" min="0" max="999999" name="sort" id="sort" lay-verType="tips" lay-verify="required|number" class="layui-input" value="{{d.params.data.sort || '' }}" placeholder="请输入地区排序" lay-reqText="请输入地区排序并为数字" />
            </div>
        </div>

        <div class="layui-form-item core-hidden">
            <input type="button" class="layui-btn" lay-submit lay-filter="LAY-app-CoreCmsArea-editForm-submit" id="LAY-app-CoreCmsArea-editForm-submit" value="确认编辑">
        </div>
    </div>
</script>
<script>
    var debug = layui.setter.debug;
    layui.data.sendParams = function (d) {
        //开启调试情况下获取接口赋值数据
        if (debug) { console.log(d.params.data); }
        layui.use(['admin', 'form', 'laydate', 'upload', 'coreHelper', 'cropperImg'],
            function () {
                var $ = layui.$
                    , form = layui.form
                    , admin = layui.admin
                    , laydate = layui.laydate
                    , upload = layui.upload
                    , cropperImg = layui.cropperImg
                    , coreHelper = layui.coreHelper;

                form.verify({

                    verifyname: [/^[\S]{0,50}$/, '地区名称最大只允许输入50位字符，且不能出现空格'],
                    verifypostalCode: [/^[\S]{0,10}$/, '邮编最大只允许输入10位字符，且不能出现空格'],
                });
                //重载form
                form.render(null, 'LAY-app-CoreCmsArea-editForm');
            })
    };
</script>