.wrap { padding: 24rpx 24rpx 24rpx 40rpx;
    .u-order-title { color: #333333; font-weight: bold; font-size: 32rpx; }
    .u-order-title.unacive { color: rgb(150, 150, 150); }
    .u-order-desc { color: rgb(150, 150, 150); font-size: 28rpx; margin-bottom: 6rpx; }
    .u-order-time { color: rgb(200, 200, 200); font-size: 26rpx; }
}
