.delivery-box { padding: 20rpx 0rpx 20rpx 0rpx; }
.coreshop-cell-group .coreshop-cell-item .coreshop-cell-item-ft .coreshop-cell-ft-view { position: relative; overflow: hidden; color: #666; font-size: 24rpx; text-align: left; white-space: nowrap; }
