page { background: #FFFFFF; }

.coreshop-status-image-view { position: relative; text-align: center; margin-top: 90.9rpx; margin-bottom: 18.18rpx; background: #FFFFFF;
    image { width: 472.72rpx; }
}