<title>组织机构表</title>
<!--当前位置开始-->
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <script type="text/html" template lay-done="layui.data.updateMainBreadcrumb();">
        </script>
    </div>
</div>
<!--当前位置结束-->
<style>
    /* 重写样式 */
</style>
<script type="text/html" template lay-type="Post" lay-url="{{ layui.setter.apiUrl }}Api/SysOrganization/GetIndex" lay-done="layui.data.done(d);">
    <div class="layui-form coreshop-toolbar-search-form">
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label" for="id">机构id</label>
                <div class="layui-input-inline">
                    <input type="text" name="id" id="id" placeholder="请输入机构id" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="parentId">上级id,0是顶级</label>
                <div class="layui-input-inline">
                    <input type="text" name="parentId" id="parentId" placeholder="请输入上级id,0是顶级" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="organizationName">机构名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="organizationName" id="organizationName" placeholder="请输入机构名称" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="organizationFullName">机构名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="organizationFullName" id="organizationFullName" placeholder="请输入机构名称" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="organizationType">机构类型</label>
                <div class="layui-input-inline">
                    <input type="text" name="organizationType" id="organizationType" placeholder="请输入机构类型" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="leaderId">负责人id</label>
                <div class="layui-input-inline">
                    <input type="text" name="leaderId" id="leaderId" placeholder="请输入负责人id" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="sortNumber">排序号</label>
                <div class="layui-input-inline">
                    <input type="text" name="sortNumber" id="sortNumber" placeholder="请输入排序号" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="comments">备注</label>
                <div class="layui-input-inline">
                    <input type="text" name="comments" id="comments" placeholder="请输入备注" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="deleted">是否删除,0否,1是</label>
                <div class="layui-input-inline">
                    <select name="deleted" id="deleted">
                        <option value="">请选择</option>
                        <option value="True">是</option>
                        <option value="False">否</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="createTime">创建时间</label>
                <div class="layui-input-inline core-time-input">
                    <input type="text" name="createTime" id="searchTime-SysOrganization-createTime" placeholder="请输入创建时间" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="updateTime">修改时间</label>
                <div class="layui-input-inline core-time-input">
                    <input type="text" name="updateTime" id="searchTime-SysOrganization-updateTime" placeholder="请输入修改时间" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="LAY-app-SysOrganization-search"><i class="layui-icon layui-icon-search"></i>筛选</button>
            </div>
        </div>
    </div>
</script>
<div class="table-body">
    <table id="LAY-app-SysOrganization-tableBox" lay-filter="LAY-app-SysOrganization-tableBox"></table>
</div>

<script type="text/html" id="LAY-app-SysOrganization-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addData"><i class="layui-icon layui-icon-add-1"></i>添加数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="batchDelete"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="selectExportExcel"><i class="layui-icon layui-icon-add-circle"></i>选择导出</button>
        <button class="layui-btn layui-btn-sm" lay-event="queryExportExcel"><i class="layui-icon layui-icon-download-circle"></i>查询导出</button>
    </div>
</script>
<script type="text/html" id="LAY-app-SysOrganization-tableBox-bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-dropdown="#SysOrganizationTbDelDrop{{d.LAY_NUM}}" no-shade="true">删除</a>
    <div class="dropdown-menu-nav dropdown-popconfirm dropdown-top-right layui-hide" id="SysOrganizationTbDelDrop{{d.LAY_NUM}}"
         style="max-width: 200px;white-space: normal;min-width: auto;margin-left: 10px;">
        <div class="dropdown-anchor"></div>
        <div class="dropdown-popconfirm-title">
            <i class="layui-icon layui-icon-help"></i>
            确定要删除吗？
        </div>
        <div class="dropdown-popconfirm-btn">
            <a class="layui-btn layui-btn-primary cursor" btn-cancel>取消</a>
            <a class="layui-btn layui-btn-normal cursor" lay-event="del">确定</a>
        </div>
    </div>
</script>

<script>
    var indexData;
    var debug= layui.setter.debug;
    layui.data.done = function (d) {
        //开启调试情况下获取接口赋值数据
        if (debug) { console.log(d); }

        indexData = d.data;
        layui.use(['index', 'table', 'laydate', 'util', 'coredropdown', 'coreHelper'],
            function () {
                var $ = layui.$
                    , admin = layui.admin
                    , table = layui.table
                    , form = layui.form
                    , laydate = layui.laydate
                    , setter = layui.setter
                    , coreHelper = layui.coreHelper
                    , util = layui.util
                    , view = layui.view;

                laydate.render({
                    elem: '#searchTime-SysOrganization-createTime',
                    type: 'datetime',
                    range: '到',
                });
                laydate.render({
                    elem: '#searchTime-SysOrganization-updateTime',
                    type: 'datetime',
                    range: '到',
                });
                //重载form
                form.render();
                var searchwhere;
                //监听搜索
                form.on('submit(LAY-app-SysOrganization-search)',
                    function(data) {
                        var field = data.field;
                        searchwhere = field;
                        //执行重载
                        table.reloadData('LAY-app-SysOrganization-tableBox',{ where: field });
                    });
                //数据绑定
                table.render({
                    elem: '#LAY-app-SysOrganization-tableBox',
                    url: layui.setter.apiUrl + 'Api/SysOrganization/GetPageList',
                    method: 'POST',
				    toolbar: '#LAY-app-SysOrganization-toolbar',
                    defaultToolbar: ['filter', 'print', 'exports'],
                    height: 'full-127',//无面包屑127,搜索框189,1行62
                    page: true,
                    limit: 30,
                    limits: [10, 15, 20, 25, 30, 50, 100, 200],
                    text: {none: '暂无相关数据'},
                    cols: [
                        [
                            { type: "checkbox", fixed: "left" },
						    { field: 'id', title: '机构id', width: 80, sort: false},
						    { field: 'parentId', title: '上级id,0是顶级', sort: false,width: 105 },
						    { field: 'organizationName', title: '机构名称', sort: false,width: 105 },
						    { field: 'organizationFullName', title: '机构名称', sort: false,width: 105 },
						    { field: 'organizationType', title: '机构类型', sort: false,width: 105 },
						    { field: 'leaderId', title: '负责人id', sort: false,width: 105 },
						    { field: 'sortNumber', title: '排序号', sort: false,width: 105 },
						    { field: 'comments', title: '备注', sort: false,width: 105 },
						    { field: 'deleted', title: '是否删除,0否,1是', width: 95, templet: '#switch_deleted', sort: false , unresize: true},
						    { field: 'createTime', title: '创建时间', width: 130, sort: false},
						    { field: 'updateTime', title: '修改时间', width: 130, sort: false},
                            { width: 162, align: 'center', title:'操作', fixed: 'right', toolbar: '#LAY-app-SysOrganization-tableBox-bar' }
                        ]
                    ]
                });
                //监听排序事件
                table.on('sort(LAY-app-SysOrganization-tableBox)', function(obj){
                    table.reloadData('LAY-app-SysOrganization-tableBox', {
                        initSort: obj, //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                        where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                            orderField: obj.field, //排序字段
                            orderDirection: obj.type //排序方式
                        }
                    });
                });
                //监听行双击事件
                table.on('rowDouble(LAY-app-SysOrganization-tableBox)', function (obj) {
                    //查看详情
                    doDetails(obj);
                });
                //头工具栏事件
                table.on('toolbar(LAY-app-SysOrganization-tableBox)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                    case 'addData':
                        doCreate();
                        break;
                    case 'batchDelete':
                        doBatchDelete(checkStatus);
                        break;
                    case 'selectExportExcel':
                        doSelectExportExcel(checkStatus);
                        break;
                    case 'queryExportExcel':
                        doQueryExportexcel();
                        break;
                    };
                });
                //监听工具条
                table.on('tool(LAY-app-SysOrganization-tableBox)',
                    function(obj) {
                        if (obj.event === 'detail') {
                            doDetails(obj);
                        } else if (obj.event === 'del') {
                            doDelete(obj);
                        } else if (obj.event === 'edit') {
                            doEdit(obj)
                        }
                    });
                //执行创建操作
                function doCreate(){
                    coreHelper.Post("Api/SysOrganization/GetCreate", null, function (e) {
                            if (e.code === 0) {
                                admin.popup({ shadeClose: false,
                                    title: '创建数据',
                                    area: ['380px', '550px'],
                                    id: 'LAY-popup-SysOrganization-create',
                                    success: function (layero, index) {
                                        view(this.id).render('base/SysOrganization/create', { data: e.data }).done(function () {
                                            //监听提交
                                            form.on('submit(LAY-app-SysOrganization-createForm-submit)',
                                                function(data) {
                                                    var field = data.field; //获取提交的字段

                                                    field.deleted = field.deleted == 'on';

                                                    if (debug) { console.log(field); } //开启调试返回数据
                                                    //提交 Ajax 成功后，关闭当前弹层并重载表格
                                                    coreHelper.Post("Api/SysOrganization/DoCreate", field, function (e) {
                                                            console.log(e)
                                                            if (e.code === 0) {
                                                                layui.table.reloadData('LAY-app-SysOrganization-tableBox'); //重载表格
                                                                layer.close(index); //再执行关闭
                                                                layer.msg(e.msg);
                                                            } else {
                                                                layer.msg(e.msg);
                                                            }
                                                        });
                                                });
                                        });
                                    }
                                });
                            } else {
                                layer.msg(e.msg);
                            }
                        });
			    }
                //执行编辑操作
                function doEdit(obj){
                    coreHelper.Post("Api/SysOrganization/GetEdit", {id:obj.data.id}, function (e) {
                        if (e.code === 0) {
                            admin.popup({ shadeClose: false,
                                title: '编辑数据',
                                area: ['380px', '550px'],
                                id: 'LAY-popup-SysOrganization-edit',
                                success: function (layero, index) {
                                    view(this.id).render('base/SysOrganization/edit', { data: e.data }).done(function () {
                                        //监听提交
                                        form.on('submit(LAY-app-SysOrganization-editForm-submit)',
                                            function(data) {
                                                var field = data.field; //获取提交的字段

                                                field.deleted = field.deleted == 'on';

                                                if (debug) { console.log(field); } //开启调试返回数据
                                                //提交 Ajax 成功后，关闭当前弹层并重载表格
                                                coreHelper.Post("Api/SysOrganization/DoEdit", field, function (e) {
                                                        console.log(e)
                                                        if (e.code === 0) {
                                                            layui.table.reloadData('LAY-app-SysOrganization-tableBox'); //重载表格
                                                            layer.close(index); //再执行关闭
                                                            layer.msg(e.msg);
                                                        } else {
                                                            layer.msg(e.msg);
                                                        }
                                                    });
                                            });
                                        })
                                }
                            });
                        } else {
                            layer.msg(e.msg);
                        }
                    });
			    }
                //执行预览操作
                function doDetails(obj) {
                    coreHelper.Post("Api/SysOrganization/GetDetails", { id: obj.data.id }, function (e) {
                        if (e.code === 0) {
                            admin.popup({ shadeClose: false,
                                title: '查看详情',
                                area: ['380px', '550px'],
                                id: 'LAY-popup-SysOrganization-details',
                                success: function (layero, index) {
                                    view(this.id).render('base/SysOrganization/details', { data: e.data }).done(function () {
                                        form.render();
                                    });
                                }
                            });
                        } else {
                            layer.msg(e.msg);
                        }
                    });
                }
                //执行单个删除
                function doDelete(obj){
                    coreHelper.Post("Api/SysOrganization/DoDelete", { id: obj.data.id }, function (e) {
                            if (debug) { console.log(e); } //开启调试返回数据
                            table.reloadData('LAY-app-SysOrganization-tableBox');
                            layer.msg(e.msg);
                        });
			    }
                //执行批量删除
                function doBatchDelete(checkStatus){
                    var checkData = checkStatus.data;
                    if (checkData.length === 0) {
                        return layer.msg('请选择要删除的数据');
                    }
                    layer.confirm('确定删除吗？删除后将无法恢复。',
                        function(index) {
                            var delidsStr = [];
                            layui.each(checkData,
                                function(index, item) {
                                    delidsStr.push(item.id);
                                });
                            coreHelper.Post("Api/SysOrganization/DoBatchDelete", { id: delidsStr }, function (e) {
                                    if (debug) { console.log(e); } //开启调试返回数据
                                    table.reloadData('LAY-app-SysOrganization-tableBox');
                                    layer.msg(e.msg);
                                });
                        });
			    }
                //执行查询条件导出excel
                function doQueryExportexcel(){
                    layer.confirm('确定根据当前的查询条件导出数据吗？',
                        function(index) {
                            var field = searchwhere;
                            coreHelper.PostForm("Api/SysOrganization/QueryExportExcel", field, function (e) {
                                    if (debug) { console.log(e); } //开启调试返回数据
                                    if (e.code === 0) {
                                        window.open(e.data);
                                    } else {
                                        layer.msg(e.msg);
                                    }
                                });
                        });
			    }
                //执行选择目录导出数据
                function doSelectExportExcel(checkStatus){
                    var checkData = checkStatus.data;
                    if (checkData.length === 0) {
                        return layer.msg('请选择您要导出的数据');
                    }
                    layer.confirm('确定导出选择的内容吗？',
                        function(index) {
                            var delidsStr = [];
                            layui.each(checkData,
                                function(index, item) {
                                    delidsStr.push(item.id);
                                });
                            layer.close(index);
                            coreHelper.Post("Api/SysOrganization/SelectExportExcel", { id: delidsStr }, function (e) {
                                    if (debug) { console.log(e); } //开启调试返回数据
                                    if (e.code === 0) {
                                        window.open(e.data);
                                    } else {
                                        layer.msg(e.msg);
                                    }
                                });
                        });
			    }
                //监听 表格复选框操作

                layui.form.on('switch(switch_deleted)', function (obj) {
                    coreHelper.Post("Api/SysOrganization/DoSetdeleted", { id: this.value, data: obj.elem.checked }, function (e) {
                        if (debug) { console.log(e); } //开启调试返回数据
                        //table.reloadData('LAY-app-SysOrganization-tableBox');
                        layer.msg(e.msg);
                    });
                });

            });
    };
</script>

<!--设置是否删除,0否,1是-->
<script type="text/html" id="switch_deleted">
    <input type="checkbox" name="switch_deleted" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="switch_deleted" {{ d.deleted ? 'checked' : '' }}>
</script>