.contentBody { background-color: #FF7159; height: calc(100vh - 100px); padding-top: 50rpx;
    .apply-content { margin: 40rpx auto; padding: 26rpx 0; border-radius: 30rpx; box-shadow: 0 0 10px #aaa; width: 670rpx; min-height: 400rpx; background-color: #fff; }
    .agreement { text-decoration: underline; color: #FF7159; }
}
