:root {
  --ck-sample-base-spacing: 20px;
  --ck-sample-color-white: #fff;
  --ck-sample-color-green: #279863;
}
#editor,
.core-editor {
  background: var(--ck-sample-color-white);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #DFE4E6;
  border-bottom-color: #cdd0d2;
  border-right-color: #cdd0d2;
}
.ck.ck-editor {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.ck.ck-content {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 10px;
  min-height: 200px;
  padding: 20px 30px;
}
#references {
  margin: 4em 0 var(--ck-sample-base-spacing);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: var(--ck-sample-base-spacing);
}
#references > section {
  background: var(--ck-sample-color-white);
  border-radius: 2px;
  border: 1px solid #DFE4E6;
  padding: var(--ck-sample-base-spacing);
  line-height: 1.8em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
#references > section h2 {
  margin: 0.5em 0;
}
#references > section p:first-of-type {
  flex: 1 0 auto;
}
#references > section p:last-child {
  margin: calc(0.25*var(--ck-sample-base-spacing)) 0 0;
}
#references > section p:last-child a {
  background: #38A5EE;
  border-radius: 5px;
  padding: 0.4em 1em;
  color: var(--ck-sample-color-white);
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
}
#references > section p:last-child a:hover {
  background: #218cd4;
}
.document-editor {
  border: 1px solid #DFE4E6;
  border-bottom-color: #cdd0d2;
  border-right-color: #cdd0d2;
  border-radius: 2px;
  min-height: 300px;
  max-height: 700px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.toolbar-container {
  z-index: 1;
  position: relative;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05);
}
.toolbar-container .ck.ck-toolbar {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
}
.content-container {
  padding: var(--ck-sample-base-spacing);
  background: #eee;
  overflow-y: scroll;
}
.content-container #editor,
.content-container .core-editor {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /*width: 15.8cm;*/
  min-height: 400px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05);
}
/*可有可无，设置最外层div宽度即可*/
/*.ck-reset { width: 300px !important; }
.ck-editor__editable { min-height: 300px; }
.ck-editor__editable_inline { height: 300px !important; border: 1px solid #333; }
*/