.group-wrap { background: url('/static/images/pinTuan/pinTuanListBg.png') no-repeat; background-size: 100% 374rpx; }
.group-head { padding: 0 25rpx; height: 100rpx;
    .group-head__title { font-size: 32rpx; font-family: PingFang SC; font-weight: 500; color: rgba(255, 255, 255, 1); }
    .group-head__notice { font-size: 26rpx; font-family: PingFang SC; font-weight: 500; color: rgba(255, 255, 255, 1); }
}
