page { background-color: #fff; }
.integral-top { width: 690rpx; height: 301rpx; background-image: url('/static/images/common/bg.png'); background-size: cover; background-position: center; text-align: center; width: 698rpx; margin: 10rpx auto 20rpx; border-radius: 12rpx; padding: 40rpx 0; box-shadow: 1rpx 5rpx 16rpx 0px rgba(229,77,66, 0.81); }
