// 遮罩
.mask { width: 100%; height: 100%; position: fixed; z-index: 20; }
// 商户信息
.head-box { position: relative; height: 320rpx; background-image: url('/static/images/common/bg.png'); background-size: cover; background-position: center; background-color: #19be6b; color: #ffffff;
    .head-wrap { position: absolute; left: 50%; transform: translateX(-50%); width: 100%; z-index: 9; top: 0;
        .nav-title { font-size: 38rpx; font-family: PingFang SC; font-weight: 500; color: #fff; }
        .status-H5bar { height: 60rpx; width: 700rpx; }
        .status-bar { height: calc(var(--status-bar-height) + 20rpx); width: 700rpx; }
    }

    .user-head { padding-top: 50rpx;
        .shop-info { padding-left: 30rpx;
            .shop-title { font-size: 34rpx; font-family: PingFang SC; font-weight: bold; color: rgba(255, 255, 255, 1); }
            .cuIcon-roundrightfill { color: rgba(255, 255, 255, 1); font-size: 34rpx; margin-left: 10rpx; transform: rotate(90deg); }
            .shop-address { font-size: 28rpx; font-family: PingFang SC; font-weight: 500; color: rgba(255, 255, 255, 1); width: 560rpx; }
        }
        .merchant-btn { padding: 0; width: 136rpx; height: 46rpx; background: rgba(255, 255, 255, 1); border-radius: 23rpx 0px 0px 23rpx; font-size: 20rpx; font-family: PingFang SC; font-weight: 500; color: #3eb49c; }
    }
}
// 卡片
.info-card-box { background-color: #fff; padding: 30rpx 20rpx;
    .info-card { position: relative; width: 344rpx; height: 165rpx; border-radius: 10rpx; overflow: hidden;
        .card-bg { width: 100%; height: 100%; }
        .card-content { position: absolute; width: 100%; height: 100%; z-index: 3; top: 0; left: 0; padding: 30rpx 0 0 30rpx;
            .card-title { font-size: 28rpx; font-family: PingFang SC; font-weight: bold; color: rgba(255, 255, 255, 1); }
            .card-detail-box { padding: 10rpx 20rpx; height: 45rpx; background: rgba(255, 255, 255, 1); width: 150rpx; border-radius: 23rpx; margin-top: 20rpx;
                .card-detail { font-size: 22rpx; font-family: PingFang SC; font-weight: 500; color: rgba(0, 187, 206, 1); }
                .cuIcon-qr_code { color: #0f98f9; }
                .cuIcon-edit { color: #00b6ce; }
                .card-icon { font-size: 36rpx; margin-right: 14rpx; }
            }
        }
    }
}
// 核销nav
.statistics-nav { background: #fff; margin: 10rpx 0 0; position: relative; z-index: 22;
    .nav-item { flex: 1;
        &:first-child {
            &::after { content: ''; height: 30rpx; width: 2rpx; background-color: #bdbdbd; display: inline-block; }
        }
        &:nth-child(2) {
            &::after { content: ''; height: 30rpx; width: 2rpx; background-color: #bdbdbd; display: inline-block; }
        }
        .item-title { font-size: 30rpx; font-family: PingFang SC; font-weight: 400; color: #666; line-height: 100rpx; }
        .cuIcon-triangleupfill { color: #666; transition: all linear 0.2s; }
        .icon-active { transition: all linear 0.2s; transform: rotate(180deg); color: #4cb89d; }
        .title-active { color: #4cb89d; }
        .nav-line { width: 100%; height: 2rpx; background: rgba(#ccc, 0.5); }

        .line-active { background: #4cb89d; height: 2rpx; }
    }
}
// 下拉窗
.drop-down-box { position: absolute; z-index: 22; width: 750rpx; top: 110rpx; background-color: #ffff; box-shadow: 0px 15rpx 27rpx 0px rgba(203, 203, 203, 0.34); transform: scaleX(1); transition: all linear 0.1s;
    .drop-down-item { height: 80rpx; border-bottom: 1rpx solid rgba(#dfdfdf, 0.5); padding: 0 60rpx;
        .item-title { font-size: 24rpx; color: #666; }
        .cuIcon-check { color: #4cb89d; }
        .title-active { color: #4cb89d; }
    }
}
.hide-drop-down { top: 0; width: 750rpx; transform: scaleY(0); opacity: 0; transform-origin: top; transition: all linear 0.1s; }
// 销量
.sales-volume-box { background-color: #fff; padding: 30rpx;
    .sales-volume { width: 338rpx; height: 72rpx; background: rgba(76, 184, 157, 0.06); border: 1rpx solid rgba(185, 227, 217, 1); border-radius: 10rpx; font-size: 24rpx; font-family: PingFang SC; font-weight: 400; color: rgba(76, 184, 157, 1); text-align: center; line-height: 72rpx }
}
// 输码弹窗
.modal-box { background: #fff; width: 610rpx; margin: 0 auto; border-radius: 20rpx;
    .modal-head-img { width: 100%; height: 213rpx; }

    .modal-head-title { font-size: 35rpx; font-family: PingFang SC; font-weight: bold; color: #343434; line-height: 42rpx; }

    .inp { width: 501rpx; height: 78rpx; border: 1rpx solid #e5e5e5; margin: 60rpx auto 40rpx; font-size: 28rpx; font-family: PingFang SC; font-weight: 400; color: #6d5028;

        .pl-inp { color: #9a9a9a; }
    }
    .post-btn { width: 492rpx; height: 70rpx; background: linear-gradient(90deg, #2eae9c, #6cc29f); box-shadow: 0px 7rpx 6rpx 0px rgba(#6cc29f, 0.22); border-radius: 35rpx; font-size: 28rpx; font-family: PingFang SC; font-weight: 500; color: rgba(255, 255, 255, 1); padding: 0; margin-bottom: 60rpx; }
}
// 订单列表
.order-list { background: #fff; margin: 20rpx 0; padding: 0 20rpx;
    .order-bottom { height: 80rpx; /*padding: 0 20rpx;*/ .total-price-title { color: #999999; font-size: 24rpx; }
        .total-price { color: #333; font-size: 26rpx;
            &::before { content: '￥'; font-size: 20rpx; }
        }
    }
    .order-head { /* padding: 0 25rpx;*/ height: 77rpx; border-bottom: 1rpx solid #dfdfdf;

        .no { font-size: 26rpx; color: #999; }

        .state { font-size: 26rpx; color: #a8700d; }
    }
    .goods-order { border-bottom: 1px solid rgba(223, 223, 223, 0.5); padding: 20rpx; }
}



/*商品展示*/
.goods-box { position: relative;
    .goods-img { height: 180rpx; width: 180rpx; background-color: #ccc; margin-right: 25rpx; }
    .order-goods__tag { position: absolute; top: 0; left: 0; z-index: 5;
        .tag-img { width: 60rpx; height: 30rpx; }
    }
    .goods-title { font-size: 28rpx; font-family: PingFang SC; font-weight: 500; color: rgba(51, 51, 51, 1); width: 450rpx; line-height: 40rpx; margin-bottom: 10rpx; }

    .size-tip { line-height: 40rpx; font-size: 24rpx; color: #666; }
    .sub-tip { width: 480rpx; line-height: 40rpx; font-size: 24rpx; color: #a8700d; margin: 10rpx 0; }

    .price { color: #e1212b; }
}
// order
.goods-box {
    .order-right { height: 180rpx; }
    .order-tip { font-size: 24rpx; font-family: PingFang SC; font-weight: 400; color: rgba(153, 153, 153, 1); width: 450rpx; margin-bottom: 20rpx;
        .order-num { margin-right: 10rpx; }
    }

    .order-goods { width: 480rpx;

        .status-btn { background: none; height: 32rpx; border: 1rpx solid rgba(207, 169, 114, 1); border-radius: 15rpx; font-size: 20rpx; font-family: PingFang SC; font-weight: 400; color: rgba(168, 112, 13, 1); padding: 0 10rpx; margin-left: 20rpx; background: rgba(233, 183, 102, 0.16); }
        .order-price { font-size: 26rpx; font-family: PingFang SC; font-weight: 600; color: rgba(51, 51, 51, 1); }
    }
}



/*订单详情*/
.order-detail-wrap { position: relative; height: 100%;
    .bottom-box { position: absolute; width: 750rpx; bottom: 0; background-color: #fff; padding: 10rpx 0;
        .send-btn { width: 710rpx; height: 80rpx; background: linear-gradient(90deg, #2eae9c, #6cc29f); border: 1rpx solid rgba(237, 237, 237, 1); border-radius: 40rpx; font-size: 30rpx; font-family: PingFang SC; font-weight: 500; color: rgba(255, 255, 255, 1); }
    }
}
// 订单卡片
.card-box { margin-bottom: 20rpx; background-color: #fff;
    .order-goods-item { padding: 20rpx;
        .card-item { line-height: 60rpx;
            .item-title { font-size: 28rpx; color: #999; }
            .item-content { font-size: 26rpx; color: #333; }
        }
    }
}
.order-detail-card { background-color: #fff; margin: 20rpx 0;
    .card-title { font-size: 30rpx; font-family: PingFang SC; font-weight: 500; color: rgba(51, 51, 51, 1); height: 80rpx; padding: 0 20rpx; border-bottom: 1rpx solid rgba(223, 223, 223, 0.5); }
    .detial-content { padding: 20rpx;
        .detail-item { min-height: 60rpx;
            .item-title { font-size: 28rpx; color: #999; }
            .item-content { font-size: 26rpx; color: #333; }
        }
        .address-item { display: flex;
            .address-content { width: 550rpx; }
        }
    }
}


.coreshop-tools-list-box {
    .grid-text { font-size: 24rpx; margin-top: 10rpx; color: $core-type-info; }
}
