<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
    <script type="text/html" template>
        <p>当前版本：{{ layui.setter.version }}</p>
    </script>
    <div class="layui-btn-container">
        <a href="http://www.coreshop.cn/" target="_blank" class="layui-btn  layui-btn-sm layui-btn-danger">官网下载</a>
        <a href="https://github.com/CoreUnion/CoreShop" target="_blank" class="layui-btn  layui-btn-sm">GitHub下载</a>
        <a href="https://gitee.com/CoreUnion/CoreShop" target="_blank" class="layui-btn  layui-btn-sm">Gitee下载</a>
    </div>
</div>

<div class="layui-card-header">关于版权</div>
<div class="layui-card-body layui-text layadmin-about">

    <blockquote class="layui-elem-quote" style="border: none;">
        允许个人学习研究使用，支持二次开发。<br />
        允许商业用途，但仅限自运营，如果商用必须保留版权信息，望自觉遵守。<br />
        不允许对程序代码以任何形式、任何目的的再发行或出售，否则将追究侵权者法律责任。<br />
        软件受国家计算机软件著作权保护（登记号：<a href="https://files.cdn.coreshop.cn/images/coreshopcopyright.jpeg" target="_blank">2020SR1224749</a>）。<br />
        我们的团队水平有限，也是在探索中学习、改进。开源，是为了让认可我们的用户能自由的使用、学习软件的内部架构，让更多的人有机会阅读并发现Bug、对软件项目提出改进意见。
    </blockquote>
    <p>© 2021 <a href="http://www.coreshop.cn/" target="_blank">coreshop.cn</a> 版权所有</p>
</div>