<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
    <script type="text/html" template>
        <p>当前版本：{{ layui.setter.version }}</p>
    </script>
    <div class="layui-btn-container">
        <a href="http://www.corecms.net/" target="_blank" class="layui-btn layui-btn-danger">获取授权</a>
        <a href="http://www.corecms.net/" target="_blank" class="layui-btn">下载新版</a>
    </div>
</div>

<div class="layui-card-header">关于版权</div>
<div class="layui-card-body layui-text layadmin-about">

    <blockquote class="layui-elem-quote" style="border: none;">
        核心小程序商城系统[简称CoreShop商城] 受国家计算机软件著作权保护（登记号：<a href="https://files.cdn.corecms.net/images/coreshopcopyright.jpeg" target="_blank">2020SR1224749</a>），必须经<a href="http://www.corecms.net/" target="_blank">官网</a>授权才可获得源文件使用权。不得恶意分享产品源代码、二次转售等，违者将承担相应的法律责任。
    </blockquote>
    <p>© 2021 <a href="http://www.corecms.net/" target="_blank">corecms.net</a> 版权所有</p>
</div>