
.article-title { font-size: 32upx; color: #333; margin: 20upx 0upx; position: relative; text-align: center; }
.article-time { margin-top: 10rpx; font-size: 22rpx; text-align: center; }

.u-content { margin-top: 20rpx; color: $u-content-color; font-size: 28rpx; line-height: 1.8; }
    .u-content p { color: $u-tips-color; }
