<script type="text/html" template lay-done="layui.data.done(d);">
    <table class="layui-table layui-form" lay-filter="LAY-app-CoreCmsGoodsTypeSpec-detailsForm" id="LAY-app-CoreCmsGoodsTypeSpec-detailsForm">
        <colgroup>
            <col width="150">
            <col>
        </colgroup>
        <tbody>

            <tr>
                <td>
                    <label for="id">序列</label>
                </td>
                <td>
                    {{ d.params.data.id || '' }}
                </td>
            </tr>

            <tr>
                <td>
                    <label for="name">SKU模型名称</label>
                </td>
                <td>
                    {{ d.params.data.name || '' }}
                </td>
            </tr>

            <tr>
                <td>
                    <label for="sort">SKU模型排序</label>
                </td>
                <td>
                    {{ d.params.data.sort || '' }}
                </td>
            </tr>
        </tbody>
    </table>
</script>
<script>
    layui.data.done = function (d) {
        //开启调试情况下获取接口赋值数据
        if (layui.setter.debug) { console.log(d.params.data); }

        layui.use(['admin', 'form', 'coreHelper'], function () {
            var $ = layui.$
                , setter = layui.setter
                , admin = layui.admin
                , coreHelper = layui.coreHelper
                , form = layui.form;
            form.render(null, 'LAY-app-CoreCmsGoodsTypeSpec-detailsForm');
        });
    };
</script>