.withdrawcash-top { padding: 40upx 26upx; background-color: #FF7159; color: #fff; }
.withdrawcash-title { font-size: 28upx; display: block }
.withdrawcash-num { font-size: 70upx; display: block; margin-top: 20upx; margin-left: 50upx; }
